* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background-color: #edf1ef;
} 

header { 
    background: #caa7be; 
    color: #fff; 
    padding: 1rem 0; 
    position: relative;
} 


a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{ 
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    font-family: Arial, sans-serif;    
}

body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    background-color: #edf1ef;
} 

header { 
    background: #caa7be; 
    color: #fff; 
    padding: 1rem 0; 
    position: relative;
} 


.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 1px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

nav ul { 
    display: flex; 
    justify-content: center; 
    list-style: none; 
}

nav ul li { 
    margin: 0 1rem; 
} 

.marca {
    margin-right: 20px;
    width: 80px;
    border-radius: 6px;
}

main { 
    padding: 2rem; 
    text-align: center; 
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content1 {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    font-size: 35px;
    border: 2px solid white;
    margin: 10px;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 2rem;
    width: 65%;
} 

.content2 {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    border: 2px solid white;
    margin: 10px;
    padding: 35px;
    border-radius: 8px;
    width: 65%;
    transition: all 0.3s ease;

} 

.content3 {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    font-size: 25px;
    border: 2px solid white;
    margin: 10px;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 2rem;
    width: 65%;
    transition: all 0.3s ease;
} 

.content3:hover { 
    background-color: #d1d1d1; 
    width: 70%; 
    padding: 45px
}

.content3 a {
    color: purple;
}

.home-page-mobile {
    display: none;
}

footer { 
    background: #caa7be; 
    color: #fff; 
    text-align: center; 
    padding: 1rem 0; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
} 

@media (max-width: 768px) {
    .nav-list { 
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 35vh;
        background: #caa7be;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out ;
    } 

    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li { 
        opacity: 0; 
    }

    .nav-list.active li { 
        opacity: 1;
    }

    @keyframes navLinkFade { 
        from { 
            opacity: 0; 
            transform: translateX(50px); 
        } 
        to { 
            opacity: 1; 
            transform: translateX(0); 
        } 
    } 
    
    .mobile-menu { 
        display: block; 
    }

    .content1,
    .content2,
    .content3 {
        display: none;
    }

    .home-page-mobile{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid #fff;
        padding: 50px;
        margin: 45px;
        border-radius: 10px;
    }

    .home-page-mobile p{
        margin: 20px;
        font-size: 20px;
    }

    .home-page-mobile a{
        color: purple;
    }

    .home-page-mobile .pudim {
        width: 100%;
        border-radius: 10px;
    }

}