@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
}

header{
    background-color: blueviolet;
    grid-column: 1/5;
}

h1{
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
}

.menu{
    background-color: rgb(163, 123, 123);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

nav a:hover {
	text-decoration: underline;
    color: white;
}

main{
    display: grid;
    padding: 20px;
    gap: 10px;
    margin: 50px;
    max-width: 100%;
}

.card-1{
    border: black 1px solid;
    display: grid;
    align-items: start;
    grid-column: 1/2;
    border-radius: 5px;
}

h2{
    background-color: yellow;
    margin-bottom: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 32px;
}

.conteiner-1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin:0px 30px 30px 30px;
    width: 100%;
}

img{
    width: 250px;
    padding: 30px 50px 50px 30px;
}

.conteiner-1 p{
    flex: 1; 
    font-size: 16px;
    line-height: 1.6;
}

h4{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.conteiner-2{
    display: flex;
}

.conteiner-2 img{
    width: 300px;
    height: 210px;
}

.conteiner-2 p{
    padding: 20px;
}

.card-2{
    grid-column: 2/4;
    border: black 1px solid;
    border-radius: 8px;
}

.card-2 h2{
    border: 1px solid black;
}

.links{
    margin-top: 20px;
    margin-left: 30px;
}

footer{
    background-color: rgb(94, 87, 87);
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 8px;
    text-align: center;
    font-size: 16px;
}

