@media (max-width: 750px) { 
    .content { 
        display: grid; 
        grid-template-columns: auto;
        border: 2px solid black;
    } 
    
    .data{ 
        border: none;
        padding: none;
        margin: auto;
        border-bottom: 2px solid black;
        justify-content: center;
    } 

    .weather { 
        border: none;
        margin: auto;
        padding: none;
        justify-content: center;
    } 
    
    .hero-image { 
        height: auto; 
        background-color: aquamarine;
    } 
    
    .title { 
        font-size: 1.5em; 
    }
    
    .weather h2:after { 
        content: url('weather-icon.svg');
    }
}

